<div class="header">

    <!-- <div class="header-caption carousel-caption-overlay p-2 p-md-3 p-xl-5 rounded-5 d-flex "> -->
    <div class="header-caption header-caption-overlay rounded-5 row row-cols-1 row-cols-md-2 d-flex align-items-center">
        <div class="col centered-square p-1 p-xxl-5">
            <!-- <div class="centered-square p-0 p-xxl-5"> -->
            <h1 class="text-break">Le jackpot</h1>
            <p class="truncate-text">Some Lorem ipsum dolor sit amet consectetur. Sit egestas accumsan scelerisque quis
                amet pellentesque. Amet lacus consectetur in iaculis id bibendum hendrerit augue elementum. Mi aliquet
                gravida pulvinar in nec. Sit in purus nisl fermentum facilisis. Neque leo nunc aliquet nunc
                at.representative placeholder content for the first slide.</p>

            <!-- <div>
                <input class="border-0" type="text" placeholder="Your Name">
                <button class="border-0 p-0">Jouer</button>
            </div> -->
        </div>
        <!-- <div class="w-100 h-100 p-0 p-xxl-3 "> -->
        <img src="/assets/images/concours/header/cafe1.png" class="col header-img d-none d-md-block object-fit-cover p-0 p-xxl-5  " alt="café-image-slider-thé-tiptop">
    </div>
    <div class="header-background">

            <img src="/assets/images/concours/header/cafe1.png" class="header-bg-img" alt="...">
 
    </div>


</div>
<div class="row row-cols-1 row-cols-lg-2 g-3 d-flex align-items-center m-auto">

    <!-- <div class="header-caption carousel-caption-overlay p-2 p-md-3 p-xl-5 rounded-5 d-flex "> -->
    <div class="col header-background-2 pt-5 pb-2 pb-md-5 px-0">
        <img src="/assets/images/concours/header/cafe1.png" class="header-sm-img w-100 object-fit-cover p-0" alt="café-thé-tiptop">
    </div>
    <div class="col header-para pt-3 pt-lg-5 pb-5 px-3 px-lg-5">
        <h2>Détails</h2>

        <p>Lorem ipsum dolor sit amet consectetur. Mattis sit cursus quam sed non vestibulum dui ante. Enim semper quam
            id lectus velit dictumst risus aliquam congue. Non nullam sed ultrices purus metus vulputate. In in sit nec
            tempor leo lectus ut. Nulla nibh nulla urna tortor velit lacus interdum gravida tellus.</p>
        <p>Lorem ipsum dolor sit amet consectetur. Volutpat risus rhoncus feugiat massa dolor nisl faucibus a. Erat metus venenatis facilisi vel in in tortor. Aliquam nibh adipiscing auctor arcu urna sit vel et. A pharetra leo ornare duis tortor diam at at commodo. Natoque mauris rhoncus amet vestibulum lacus augue libero accumsan. Non in phasellus enim quis nibh sollicitudin amet ac. Vitae eget diam sem eu lacus imperdiet. Vivamus nisl in orci habitasse odio eu pellentesque. Iaculis elementum et nam eu. Pretium posuere sociis senectus pulvinar ultrices gravida amet risus. Imperdiet lorem aliquam enim risus. Sit ullamcorper integer et vel sit donec.</p>
    </div>


</div>