section {
  background-image:
    url("/assets/images/auth/auth_login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .main-container {
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 0px 100px 15px rgba(0, 0, 0, 0.50);

    textarea {
      height: 200px;
    }

    .form-check-input {
      width: 30px;
      height: 30px;
    }

    a {
      color: blue;
      text-decoration: underline;
    }
  }

}