<section class="banniere d-flex justify-content-center align-items-center">
    <div class="container-title">
        <h1 class="title">Conditions générales de vente</h1>
    </div>
</section>

<section class="cgv mt-4">
    <div class="cgv-text m-auto">
        <p>Les présentes conditions générales de vente (ci-après les «Conditions Générales») s'appliquent à tout achat effectué par un internaute / personne physique (ci-après le « CLIENT») sur le site Internet https://dsp-archiwebo22b-ji-rw-ah.fr/  (ci-après le « SITE ») auprès de Thé TipTop , SARL  immatriculée au registre du commerce et des sociétés sous le numéro (419 045 182 00013), ayant son siège social au 39 rue du Bois d’Haucourt - Pierrefonds 60350, France, France Tél : 01 02 03 04 05, email : contact@thetiptop.com (ci-après le « VENDEUR »).</p>

        <h2><strong>IMPORTANT</strong></h2>
        <p><strong>Toute commande passée sur le SITE implique obligatoirement l'acceptation sans réserve du CLIENT des présentes conditions générales de vente.</strong></p>
        <br>

        <h2>Article 1.     DÉFINITION</h2>
        <p>Les termes employés ci-après ont, dans les présentes Conditions Générales, la signification suivante :</p>
        <ul>
        <li>« CLIENT » : désigne le cocontractant du VENDEUR, qui garantit avoir la qualité de consommateur telle que définie par le droit et la jurisprudence française. A ce titre, il est expressément prévu que ce CLIENT agit en dehors de toute activité commerciale.</li>
        <li>« LIVRAISON » : désigne la première présentation des PRODUITS commandés par le CLIENT à l'adresse de livraison indiquée lors de la commande.</li>
        <li>« PRODUITS » : désigne l'ensemble des produits disponibles sur le SITE.</li>
        <li>« TERRITOIRE » : désigne la FRANCE Métropolitaine, y compris la Corse (hors DOM/TOM).</li>
        </ul>

        <br>
        <h2>Article 2.     OBJET</h2>
        <p>Les présentes Conditions Générales régissent la vente par le VENDEUR à ses CLIENTS des PRODUITS.</p>
        <p>Le CLIENT est clairement informé et reconnaît que le SITE s'adresse aux consommateurs et que les professionnels doivent contacter le service commercial du VENDEUR afin de bénéficier de conditions contractuelles distinctes</p>

        <br>
        <h2>Article 3.     ACCEPTATION DES CONDITIONS GÉNÉRALES</h2>
        <p>Le CLIENT s'engage à lire attentivement les présentes Conditions Générales et les accepter, avant de procéder au paiement d'une commande de PRODUITS passée sur le SITE.</p>
        <p>Les présentes Conditions Générales sont référencées en bas de chaque page du SITE au moyen d'un lien et doivent être consultées avant de passer la commande. Le CLIENT est invité à lire attentivement, télécharger, imprimer les Conditions Générales et à en conserver une copie.</p>
        <p>Le VENDEUR conseille au CLIENT de lire les Conditions Générales à chaque nouvelle commande, la dernière version desdites Conditions s'appliquant à toute nouvelle commande de PRODUITS.</p>
        <p>En cliquant sur le premier bouton pour passer la commande puis sur le second pour confirmer ladite commande, le CLIENT reconnaît avoir lu, compris et accepté les Conditions Générales sans limitation ni condition.</p>

        <br>
        <h2>Article 4.     OUVERTURE D'UN COMPTE - ACHAT DE PRODUITS SUR LE SITE</h2>
        <p>Pour pouvoir acheter un PRODUIT, le CLIENT doit être âgé d'au moins 18 ans et disposer de la capacité légale ou, s'il est mineur, être en mesure de justifier de l'accord de ses représentants légaux.</p>
        <p>Le CLIENT sera invité à fournir des informations permettant de l'identifier en complétant le formulaire disponible sur le SITE. Le signe (*) indique les champs obligatoires qui doivent être remplis pour que la commande du CLIENT soit traitée par le VENDEUR. Le CLIENT peut vérifier sur le SITE le statut de sa commande. Le suivi des LIVRAISONS peut, le cas échéant, être effectué en utilisant les outils de suivi en ligne de certains transporteurs. Le CLIENT peut également contacter le service commercial du VENDEUR à tout moment par courrier électronique, à l'adresse email indiquée, afin d'obtenir des informations sur le statut de sa commande.</p>
        <p>Les informations que le CLIENT fournit au VENDEUR lors d'une commande doivent être complètes, exactes et à jour. Le VENDEUR se réserve le droit de demander au CLIENT de confirmer, par tout moyen approprié, son identité, son éligibilité et les informations communiquées.</p>

        <br>
        <h2>Article 5.     COMMANDES</h2>
        <h3><strong>Article 5.1 Caractéristique des produits</strong></h3>
        <p>Le VENDEUR s'efforce de présenter aussi clairement que possible les principales caractéristiques des PRODUITS (sur les fiches d'information disponibles sur le SITE) et les informations obligatoires que le CLIENT doit recevoir en vertu du droit applicable (dans les présentes Conditions Générales).</p>
        <p>Le CLIENT s'engage à lire attentivement ces informations avant de passer une commande sur le SITE.</p>
        <p>Le VENDEUR se réserve le droit de modifier la sélection des PRODUITS disponibles sur le SITE, notamment en fonction des contraintes liées à ses fournisseurs.</p>
        <p>Sauf indication expresse contraire sur le SITE, tous les PRODUITS vendus par le VENDEUR sont neufs et conformes à la législation européenne en vigueur et aux normes applicables en France.</p>
        <br>
        <h3><strong>Article 5.2.     Procédure de commande</strong></h3>
        <p>Les commandes de PRODUITS sont directement passées sur le SITE. Pour effectuer une commande, le CLIENT doit suivre les étapes décrites ci-dessous (veuillez noter cependant qu'en fonction de la page de démarrage du CLIENT, les étapes peuvent légèrement différer).</p>
        <br>
        <h4><strong>5.2.1.     Sélection des PRODUITS et options d'achat</strong></h4>
        <p>Le CLIENT devra sélectionner le(s) PRODUIT(s) de son choix en cliquant sur le(s) PRODUIT(s) concerné(s) et en choisissant les caractéristiques et les quantités souhaitées. Une fois le PRODUIT sélectionné, le PRODUIT est placé dans le panier du CLIENT. Ce dernier peut ensuite ajouter à son panier autant de PRODUITS qu'il le souhaite.</p>
        <br>
        <h4><strong>5.2.2.     Commandes</strong></h4>
        <p>Une fois les PRODUITS sélectionnés et placés dans son panier, le CLIENT doit cliquer sur le panier et vérifier que le contenu de sa commande est correct. Si le CLIENT ne l'a pas encore fait, il sera ensuite invité à s'identifier ou à s'inscrire.</p>
        <p>Une fois que le CLIENT aura validé le contenu du panier et qu'il se sera identifié / inscrit, s'affichera à son attention un formulaire en ligne complété automatiquement et récapitulant le prix, les taxes applicables et, le cas échéant, les frais de livraison.</p>
        <p>Le CLIENT est invité à vérifier le contenu de sa commande (y compris la quantité, les caractéristiques et les références des PRODUITS commandés, l'adresse de facturation, le moyen de paiement et le prix) avant de valider son contenu.</p>
        <p>Le CLIENT peut alors procéder au paiement des PRODUITS en suivant les instructions figurant sur le SITE et fournir toutes les informations nécessaires à la facturation et à la LIVRAISON des PRODUITS.</p>
        <p>Concernant les PRODUITS pour lesquels des options sont disponibles, ces références spécifiques apparaissent lorsque les bonnes options ont été sélectionnées.</p>
        <p>Les commandes passées doivent comprendre toutes les informations nécessaires au bon traitement de la commande.</p>
        <p>Le CLIENT doit également indiquer le mode de livraison choisi.</p>
        <br>
        <h4><strong>5.2.3.     Accusé de réception</strong></h4>
        <p>Une fois que toutes les étapes décrites ci-dessus sont complétées, une page apparait sur le SITE afin d'accuser réception de la commande du CLIENT. Une copie de l'accusé de réception de la commande est automatiquement adressée au CLIENT par courrier électronique, à condition que l'adresse électronique communiquée par le biais du formulaire d'inscription soit correcte.</p>
        <p>Le VENDEUR n'envoie aucune confirmation de commande par courrier postal ou par télécopie.</p>
        <br>
        <h4><strong>5.2.4.     Facturation</strong></h4>
        <p>Pendant la procédure de commande, le CLIENT devra saisir les informations nécessaires à la facturation (le signe (*) indiquera les champs obligatoires devant être remplis pour que la commande du CLIENT soit traitée par le VENDEUR).</p>
        <p>Le CLIENT doit notamment indiquer clairement toutes les informations relatives à la LIVRAISON, en particulier l'adresse exacte de LIVRAISON, ainsi que tout éventuel code d'accès à l'adresse de LIVRAISON.</p>
        <p>Le CLIENT devra ensuite préciser le moyen de paiement choisi.</p>
        <p>Ni le bon de commande que le CLIENT établit en ligne, ni l'accusé de réception de la commande que le VENDEUR envoie au CLIENT par courrier électronique ne constituent une facture. Quel que soit le mode de commande ou de paiement utilisé, le CLIENT recevra l'original de la facture à la LIVRAISON des PRODUITS, à l'intérieur du colis. </p>
        <br>
        <h4><strong>5.3. Date de la commande</strong></h4>
        <p>La date de la commande est la date à laquelle le VENDEUR accuse réception en ligne de la commande. Les délais indiqués sur le SITE ne commencent à courir qu'à partir de cette date.</p>
        <br>
        <h2>5.4. Prix</h2>
        <p>Pour tous les PRODUITS, le CLIENT trouvera sur le SITE des prix affichés en euros toutes taxes comprises, ainsi que les frais de livraison applicables (en fonction du prix total de la commande, hors emballage et cadeaux, de l'adresse de LIVRAISON et du transporteur ou mode de transport choisi).</p>
        <p>Les prix incluent en particulier la taxe sur la valeur ajoutée (TVA) au taux en vigueur à la date de commande. Toute modification du taux applicable peut impacter le prix des PRODUITS à compter de la date d'entrée en vigueur du nouveau taux. </p>
        <p>Le taux de TVA applicable est exprimé en pourcentage de la valeur du PRODUIT vendu.</p>
        <p>Les prix des fournisseurs du VENDEUR sont susceptibles d'être modifiés. En conséquence, les prix indiqués sur le SITE peuvent changer. Ils peuvent également être modifiés en cas d'offres ou de ventes spéciales.</p>
        <p>Les prix indiqués sont valables, sauf erreur grossière. Le prix applicable est celui indiqué sur le SITE à la date à laquelle la commande est passée par le CLIENT.</p>
        <br>
        <h2> 5.5.     Disponibilité des PRODUITS</h2>
        <p>En fonction du PRODUIT concerné, le VENDEUR applique une gestion des stocks « à flux tendu ». Par conséquent, selon le cas, la disponibilité des PRODUITS dépend des stocks du VENDEUR.</p>
        <p>Le VENDEUR s'engage à honorer les commandes reçues sous réserve que les PRODUITS soient disponibles.</p>
        <p>L'indisponibilité d'un PRODUIT est en principe indiquée sur la page du PRODUIT concerné. Les CLIENTS peuvent également être informés du réassort d'un PRODUIT par le VENDEUR.</p>
        <p>En tout état de cause, si l'indisponibilité n'a pas été indiquée au moment de la commande, le VENDEUR s'engage à informer le CLIENT sans délai si le PRODUIT est indisponible.</p>
        <p>Le VENDEUR peut, à la demande du CLIENT : .</p>
        <p>Soit proposer d'expédier tous les PRODUITS en même temps dès que les PRODUITS en rupture de stock seront à nouveau disponibles, .</p>
        <p>Soit procéder à une expédition partielle des PRODUITS disponibles dans un premier temps, puis à l'expédition du reste de la commande lorsque les autres PRODUITS seront disponibles, sans frais de transport supplémentaires. .</p>
        <p>Soit proposer un PRODUIT alternatif de qualité et de prix équivalents, accepté par le CLIENT. .</p>
        <p>Si le CLIENT décide d'annuler sa commande de PRODUITS indisponibles, il obtiendra le remboursement de toutes les sommes versées pour les PRODUITS indisponibles, sans délai et au plus tard dans les trente (30) jours du paiement. .</p>
        <br>
        <h2>Article 6.     Droit de rétractation</h2>
        <p>Les modalités du droit de rétractation sont prévues dans la « politique de rétractation », politique disponible en Annexe 1 des présentes et accessible en bas de chaque page du SITE via un lien hypertexte.</p>
        <br>
        <h2>Article 7.     PAIEMENT</h2>
        <h3><strong>7.1. Moyens de paiement</strong></h3>
        <p>Le CLIENT peut payer ses PRODUITS en ligne sur le SITE suivant les moyens proposés par le VENDEUR.</p>
        <p>Le CLIENT garantit au VENDEUR qu'il détient toutes les autorisations requises pour utiliser le moyen de paiement choisi. </p>
        <p>Le VENDEUR prendra toutes les mesures nécessaires pour garantir la sécurité et la confidentialité des données transmises en ligne dans le cadre du paiement en ligne sur le SITE..</p>
        <p>Il est à ce titre précisé que toutes les informations relatives au paiement fournies sur le SITE sont transmises à la banque du SITE et ne sont pas traitées sur le SITE. </p>
        <h3><strong>7.2. Date de paiement</strong></h3>
        <p>En cas de paiement unique par carte de crédit, le compte du CLIENT sera débité dès la commande de PRODUITS passée sur le SITE.</p>
        <p>En cas de LIVRAISON partielle, le montant total sera débité du compte du CLIENT au plus tôt lorsque le premier colis sera expédié. Si le CLIENT décide d'annuler sa commande de PRODUITS indisponibles, le remboursement s'effectuera conformément au dernier paragraphe de l'article 5.5 des présentes Conditions Générales.</p>
        <h3><strong>7.3. RETARD OU REFUS DE PAIEMENT</strong></h3>
        <p>Si la banque refuse de débiter une carte ou autre moyen de paiement, le CLIENT devra contacter le Service Client du VENDEUR afin de payer la commande par tout autre moyen de paiement valable.</p>
        <p>Dans l'hypothèse où, pour quelle que raison que ce soit, opposition, refus ou autre, la transmission du flux d'argent dû par le CLIENT s'avèrerait impossible, la commande sera annulée et la vente automatiquement résiliée. </p>
        <br>
        <h2>Article 8.     Preuve et Archivage</h2>
        <p>Tout contrat conclu avec le CLIENT correspondant à une commande d'un montant supérieur à 120 euros TTC sera archivé par le VENDEUR pendant une durée de dix (10) ans conformément à l'article L. 134-2 du code de la consommation.</p>
        <p>Le VENDEUR accepte d'archiver ces informations afin d'assurer un suivi des transactions et de produire une copie du contrat à la demande du CLIENT. </p>
        <p>En cas de litige, le VENDEUR aura la possibilité de prouver que son système de suivi électronique est fiable et qu'il garantit l'intégrité de la transaction. </p>
        <br>
        <h2>Article 9.     Transfert de propriété</h2>
        <p>Le VENDEUR reste le propriétaire des PRODUITS livrés jusqu'à leur complet paiement par le CLIENT. </p>
        <p>Les dispositions ci-dessus ne font pas obstacle au transfert au CLIENT, au moment de la réception par lui, ou par un tiers désigné par lui autre que le transporteur, des risques de perte ou de dommage des PRODUITS faisant l'objet de la réserve de propriété, ainsi que des risques de dommage qu'ils pourront entraîner. </p>
        <br>
        <h2>Article 10.     Livraison</h2>
        <p>Les modalités de LIVRAISON des PRODUITS sont prévues dans la « politique de livraison » visée en Annexe 2 des présentes et accessibles en bas de chaque page du SITE via un lien hypertexte. </p>
        <br>
        <h2>Article 11.     Emballage</h2>
        <p>Les PRODUITS seront emballés conformément aux normes de transport en vigueur, afin de garantir un maximum de protection pour les PRODUITS pendant la LIVRAISON. Les CLIENTS s'engagent à respecter les mêmes normes lorsqu'ils retournent des PRODUITS dans les conditions fixées en Annexe 1 ' Politique de rétractation.</p>
        <br>
        <h2>Article 12.     Garanties</h2>
                <h3><strong>12.1. Garantie de conformité</strong></h3>
        <p>Le VENDEUR est tenu de livrer un PRODUIT conforme c'est-à-dire propre à l'usage attendu d'un bien semblable et correspondant à la description donnée sur le SITE. Cette conformité suppose également que le PRODUIT présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le VENDEUR, y compris dans les publicités et sur les étiquetages.</p>
        <p>Dans ce cadre, le VENDEUR est susceptible de répondre des défauts de conformité existants lors de la délivrance et des défauts de conformité résultant de l'emballage du produit.</p>
        <p>L'action résultant du défaut de conformité se prescrit par un (1) an  à compter de la DELIVRANCE du PRODUIT.</p>
        <p>En cas de défaut de conformité, le CLIENT pourra demander le remplacement du PRODUIT. Toutefois, si le coût du choix du CLIENT est manifestement disproportionné au regard de l'autre option envisageable, compte tenu de la valeur du PRODUIT ou de l'importance du défaut, le VENDEUR pourra procéder à un remboursement, sans suivre l'option choisie par le CLIENT.</p>
        <p>Dans l'hypothèse où un remplacement serait impossible, le VENDEUR s'engage à restituer le prix du PRODUIT sous 30 jours à réception du PRODUIT retourné et en échange du renvoi du PRODUIT par le CLIENT à l'adresse suivante 39 rue du Bois d’Haucourt - Pierrefonds 60350, France.</p>
                 <h3><strong>12.2. Garantie de vices cachés</strong></h3>
        <p>Le VENDEUR est tenu de la garantie à raison des défauts cachés du PRODUIT vendu qui le rendent impropre à l'usage auquel on le destine, ou qui diminuent tellement cet usage que le CLIENT ne l'aurait pas acquis, ou n'en aurait donné qu'un moindre prix, s'il les avait connus.</p>
        <p>Cette garantie permet au CLIENT qui peut prouver l'existence d'un vice caché de choisir entre le remboursement du prix du PRODUIT s'il est retourné et le remboursement d'une partie de son prix, si le PRODUIT n'est pas retourné.</p>
        <p>Dans l'hypothèse où un remplacement serait impossible, le VENDEUR s'engage à restituer le prix du PRODUIT sous 30 jours à réception du PRODUIT retourné et en échange du renvoi du PRODUIT par le CLIENT à l'adresse suivante Grande 39 rue du Bois d’Haucourt - Pierrefonds 60350, France.</p>
        <p>L'action résultant des vices cachés doit être intentée par le CLIENT dans un délai de 1 (un) an à compter de la découverte du vice.</p>
        <br>
        <h2>Article 13.     Responsabilité</h2>
        <p>La responsabilité du VENDEUR ne pourra en aucun cas être engagée en cas d'inexécution ou de mauvaise exécution des obligations contractuelles imputable au CLIENT, notamment lors de la saisie de sa commande.</p>
        <p>Le VENDEUR ne pourra être tenu pour responsable, ou considéré comme ayant failli aux présentes, pour tout retard ou inexécution, lorsque la cause du retard ou de l'inexécution est liée à un cas de force majeure telle qu'elle est définie par la jurisprudence des cours et Tribunaux français.</p>
        <p>Il est par ailleurs précisé que le VENDEUR ne contrôle pas les sites web qui sont directement ou indirectement liés au SITE. En conséquence, elle exclut toute responsabilité au titre des informations qui y sont publiées. Les liens vers des sites web de tiers ne sont fournis qu'à titre indicatif et aucune garantie n'est fournie quant à leur contenu.</p>
        <br>
        <h2>Article 14.     Données personnelles</h2>
        <p>Le VENDEUR collecte sur le SITE des données personnelles concernant ses Clients, y compris par le biais de cookies. Les CLIENTS peuvent désactiver les cookies en suivant les instructions fournies par leur navigateur.</p>
        <p>Les données collectées par le VENDEUR sont utilisées afin de traiter les commandes passées sur le SITE, gérer le compte du CLIENT, analyser les commandes et, si le CLIENT a choisi cette option, lui envoyer des courriers de prospection commerciale, des newsletters, des offres promotionnelles et/ou des informations sur des ventes spéciales, sauf si le CLIENT ne souhaite plus recevoir de telles communications de la part du VENDEUR.</p>
        <p>Les données du CLIENT sont conservées confidentiellement par le VENDEUR conformément à sa déclaration effectuée auprès de la CNIL, pour les besoins du contrat, de son exécution et dans le respect de la loi.</p>
        <p>Les CLIENTS peuvent à tout moment se désinscrire en accédant à leur compte ou en cliquant sur le lien hypertexte prévu à cet effet en bas ce chaque offre reçue par courrier électronique.</p>
        <p>Les données peuvent être communiquées, en tout ou partie, aux prestataires de services du VENDEUR intervenant dans le processus de commande. A des fins commerciales, le VENDEUR peut transférer à ses partenaires commerciaux les noms et coordonnées de ses CLIENTS, à condition que ceux-ci aient donné leur accord préalable lors de l'inscription sur le SITE.</p>
        <p>Le VENDEUR demandera spécifiquement aux CLIENTS s'ils souhaitent que leurs données personnelles soient divulguées. Les CLIENTS pourront changer d'avis à tout moment sur le SITE ou en contactant le VENDEUR.</p>
        <p>Le VENDEUR peut également demander à ses CLIENTS s'ils souhaitent recevoir des sollicitations commerciales de ses partenaires.</p>
        <p>Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique aux fichiers et aux libertés, le CLIENT bénéficie d'un droit d'accès, de rectification, d'opposition (pour des motifs légitimes) et de suppression de ses données personnelles. Il peut exercer ce droit en adressant un courrier électronique à l'adresse : contact@thetiptop.com soit en envoyant un courrier à 39 rue du Bois d’Haucourt - Pierrefonds 60350, France.</p>

        <p>Il est précisé que le CLIENT doit pouvoir justifier de son identité, soit en scannant une pièce d'identité, soit en adressant au VENDEUR une photocopie de sa pièce d'identité.</p>
        <br>
        <h2>Article 15.     Réclamations</h2>
        <p>Le VENDEUR met à la disposition du CLIENT un « Service téléphonique Client » au numéro suivant : 01 02 03 04 05 (numéro non surtaxé).</p>

        <p>Toute réclamation écrite du CLIENT devra être transmise à l'adresse suivante : 39 rue du Bois d’Haucourt - Pierrefonds 60350, France.</p>

        <br>
        <h2>Article 16.     Propriété intellectuelle</h2>
        <p>Tous les éléments visuels et sonores du SITE, y compris la technologie sous-jacente utilisée, sont protégés par le droit d'auteur, le droit des marques et/ou des brevets.</p>
        <p>Ces éléments sont la propriété exclusive du VENDEUR. Toute personne qui édite un site web et souhaite créer un lien hypertexte direct vers le SITE doit demander l'autorisation du VENDEUR par écrit.</p>
        <p>Cette autorisation du VENDEUR ne sera en aucun cas accordée de manière définitive. Ce lien devra être supprimé à la demande du VENDEUR. Les liens hypertextes vers le SITE qui utilisent des techniques tels que le cadrage (framing) ou l'insertion par liens hypertextes (in-line linking) sont strictement interdits.</p>
        <br>
        <h2>Article 17.     Validité des Conditions Générales</h2>
        <p>Toute modification de la législation ou de la réglementation en vigueur, ou toute décision d'un tribunal compétent invalidant une ou plusieurs clauses des présentes Conditions Générales ne saurait affecter la validité des présentes Conditions Générales. Une telle modification ou décision n'autorise en aucun cas les CLIENTS à méconnaître les présentes Conditions Générales.</p>
        <p>Toutes conditions non expressément traitées dans les présentes seront régies conformément à l'usage du secteur du commerce aux particuliers, pour les sociétés dont le siège social se situe en France.</p>
        <br>
        <h2>Article 18.     Modification des Conditions Générales</h2>
        <p>Les présentes Conditions Générales s'appliquent à tous les achats effectués en ligne sur le SITE, tant que le SITE est disponible en ligne. </p>
        <p>Les Conditions Générales sont datées de manière précise et pourront être modifiées et mises à jour par le VENDEUR à tout moment. Les Conditions Générales applicables sont celles en vigueur au moment de la commande. </p>
        <p>Les modifications apportées aux Conditions Générales ne s'appliqueront pas aux PRODUITS déjà achetés.
        <br>
        <h2>Article 19.     Compétence et droit applicable</h2>
        <p>Les présentes Conditions Générales ainsi que les relations entre le CLIENT et le VENDEUR sont régies par le droit français.</p>
        <p>En cas de litige, seuls les tribunaux français seront compétents. </p>

        <p>Toutefois, préalablement à tout recours au juge arbitral ou étatique, sera privilégiée la négociation dans un esprit de loyauté et de bonne foi en vue de parvenir à un accord amiable lors de la survenance de tout conflit relatif au présent contrat, y compris portant sur sa validité.</p>
        <p>La partie souhaitant mettre en œuvre le processus de négociation devra en informer l'autre partie par lettre recommandée avec accusé de réception en indiquant les éléments du conflit. Si au terme d'un délai de quinze (15) jours, les parties ne parvenaient pas à s'entendre, le différend sera soumis à la juridiction compétente désignée ci-après.</p>
        <p>Durant tout le processus de négociation et jusqu'à son issue, les parties s'interdisent d'exercer toute action en justice l'une contre l'autre et pour le conflit objet de la négociation. Par exception, les parties sont autorisées à saisir la juridiction des référés ou à solliciter le prononcé d'une ordonnance sur requête. Une éventuelle action devant la juridiction des référés ou la mise en œuvre d'une procédure sur requête n'entraîne de la part des parties aucune renonciation à la clause d'arrangement amiable, sauf volonté contraire expresse.</p>
        <br>
        <h2>ANNEXE 1</h2>
        <h2>POLITIQUE DE RETRACTATION</h2>
        <h3><strong>Principe de rétractation</strong></h3>
        <p>Le CLIENT dispose par principe du droit de renvoyer ou de restituer le PRODUIT au VENDEUR ou à une personne désignée par ce dernier, sans retard excessif, et au plus tard dans les quatorze (14) jours suivant la communication de sa décision de se rétracter, à moins que le VENDEUR ne propose de récupérer lui-même le PRODUIT.</p>
        <h3><strong>Délai de rétractation</strong></h3>
        <p>Le délai de rétractation expire quatorze (14) jours calendaires après le jour où le CLIENT, ou un tiers autre que le transporteur et désigné par le CLIENT, prend physiquement possession du PRODUIT.</p>
        <p>Si la commande du CLIENT porte sur plusieurs PRODUITS et si ces PRODUITS sont livrés séparément, le délai de rétractation expire quatorze (14) jours après le jour où le CLIENT, ou un tiers autre que le transporteur et désigné par le CLIENT, prend physiquement possession du dernier PRODUIT.</p>
        <h3><strong>Notification du droit de rétractation</strong></h3>
        <p>Pour exercer son droit de rétractation, le CLIENT doit notifier sa décision de se rétracter du présent contrat au moyen d'une déclaration dénuée d'ambiguïté à : 39 rue du Bois d’Haucourt - Pierrefonds 60350, France ou contact@thetiptop.com.</p>
        <p>Il peut également utiliser le formulaire ci-dessous :</p>
        <p>FORMULAIRE DE RETRACTATION</p>
        <p>A l'attention de [*] (*Coordonnées du)</p>
        <p>Numéro de téléphone du VENDEUR* :</p>
        <p>Adresse de courrier électronique du VENDEUR* : </p>
        <p>Je vous notifie par la présente ma rétractation du contrat portant sur la vente du PRODUIT ci-dessous : </p>
        <p>Référence du PRODUIT:</p>
        <p>N° de la facture : </p>
        <p>N° du bon de commande : </p>
        <p>- Commandé le [____________]/reçu le [________________]</p>
        <p>- Moyen de paiement utilisé :</p>
        <p>- Nom du CLIENT et le cas échéant du bénéficiaire de la commande :</p>
        <p>- Adresse du CLIENT :</p>
        <p>- Adresse de livraison :</p>
        <p>- Signature du CLIENT (sauf cas de transmission par courriel)</p>
        <p>- Date:</p>
        <p>Pour que le délai de rétractation soit respecté, le CLIENT doit transmettre sa communication relative à l'exercice du droit de rétractation avant l'expiration du délai de rétractation.</p>

        <br>
        <h2>Effets de la rétractation</h2>
        <p>En cas de rétractation de la part du CLIENT, le VENDEUR s'engage à rembourser la totalité des sommes versées, y compris les frais de livraison sans retard excessif et, en tout état de cause, au plus tard quatorze (14) jours à compter du jour où le VENDEUR est informé de la volonté du CLIENT de se rétracter.</p>
        <p>Le VENDEUR procédera au remboursement en utilisant le même moyen de paiement que celui que le CLIENT aura utilisé pour la transaction initiale, sauf si le CLIENT convient expressément d'un moyen différent, en tout état de cause, ce remboursement n'occasionnera pas de frais pour le client.</p> 

        <p>Le VENDEUR peut différer le remboursement jusqu'à réception du bien ou jusqu'à ce que le CLIENT ait fourni une preuve d'expédition du bien, la date retenue étant celle du premier de ces faits.</p>
        <br>
        <h2>Modalités de retour </h2>
        <p>Le CLIENT devra, sans retard excessif et, en tout état de cause, au plus tard quatorze (14) jours après communication de sa décision de se rétracter du présent contrat, renvoyer le bien, à : 39 rue du Bois d’Haucourt - Pierrefonds 60350, France.</p>
        <p>Ce délai est réputé respecté si le CLIENT renvoie le bien avant l'expiration du délai de quatorze jours.</p>
        <br>
        <h2>Frais de retour </h2>
        <p>Le CLIENT devra prendre en charge les frais directs de renvoi du bien.</p>
        <br>
        <h2>Etat du bien retourné</h2>
        <p>Le PRODUIT doit être retourné suivant les consignes du VENDEUR et comporter notamment tous les accessoires livrés.</p>
        <p>La responsabilité du CLIENT n'est engagée qu'à l'égard de la dépréciation du bien résultant de manipulations autres que celles nécessaires pour établir la nature, les caractéristiques et le bon fonctionnement de ce PRODUIT. En d'autres termes, le CLIENT dispose de la possibilité de tester le PRODUIT mais sa responsabilité pourra être engagée s'il procède à des manipulations autres que celles qui sont nécessaires.</p>
        <br>
        <h2>Emballage</h2>

        <p>Les PRODUITS sont emballés conformément aux normes de transport en vigueur, afin de garantir un maximum de protection pour les PRODUITS pendant la LIVRAISON. Les CLIENTS doivent respecter les mêmes normes lorsqu'ils retournent des PRODUITS. A ce titre le CLIENT est invité à retourner le PRODUIT ne lui convenant pas dans son emballage d'origine et en bon état, propre à sa recommercialisation.</p>
        <br>
        <h2>Exclusions du droit de rétractation</h2>

        <p>Le droit de rétractation est exclu dans les hypothèses suivantes :
        <ul>
        <li>Fourniture de biens ou de services dont le prix dépend de fluctuation sur le marché financier</li>
        <li>Fourniture de biens confectionnés selon les spécifications du CLIENT ou nettement personnalisés</li>
        <li>Fourniture de biens susceptibles de se détériorer ou de se périmer rapidement</li>
        <li>Fourniture d'enregistrements audio ou vidéo ou logiciels scellés qui ont été descellés après livraison</li>
        <li>Journal, périodique, magazine (sauf contrat d'abonnement)</li>
        <li>Fourniture de biens qui par leur nature sont mélangés de manière indissociable à d'autres articles</li>
        <li>Fournitures de biens scellés ne pouvant être renvoyés pour des raisons de protection de la santé ou d'hygiène et qui ont été descellés par le CLIENT après la LIVRAISON</li>
        </ul>
        <br>
        <h2>Problèmes de LIVRAISON</h2>
        <p>Le CLIENT est informé de la date de livraison fixée au moment où il choisit le transporteur, à la fin de la procédure de commande en ligne, avant de confirmer la commande.</p>
        <p>Il est précisé que les livraisons seront effectuées sous trente (30) jours maximum. A défaut, le CLIENT doit mettre en demeure le VENDEUR de livrer dans un délai raisonnable et en cas de non livraison dans ce délai, il pourra résilier le contrat. </p>
        <p>Le VENDEUR remboursera, sans retard excessif à compter de la réception de la lettre de résiliation, au CLIENT le montant total payé pour les PRODUITS, taxes et frais de livraison inclus, au moyen du même mode de paiement que celui utilisé par le CLIENT pour acheter les PRODUITS. <p>
        <p>Le VENDEUR est responsable jusqu'à la livraison du PRODUIT au CLIENT. Il est rappelé que le CLIENT dispose d'un délai de trois (3) jours pour notifier au transporteur les avaries ou pertes partielles constatées lors de la livraison.</p>
    </div>
</section>