<div class="empty"></div>
<div class="charts row mx-auto" *ngIf="isLoggedAsAdmin">
    <div class="canvas col-md-5 border border-primary shadow-lg p-4 mx-auto bg-body rounded">
        <canvas id="canvas" #canvasElement>{{chart}}</canvas>
    </div>
    <div class="canvas col-md-5 border border-primary shadow-lg p-4 mx-auto bg-body rounded">
        <canvas id="canvasPie" #canvasPieElement>{{chartPie}}</canvas>
    </div>
</div>

<div class="container table-responsive py-5">
    <h2>Emailing</h2>
    <div class="d-flex w-100">
            <a *ngIf="isLoggedAsAdmin" class="btn btn-primary mb-2 mx-2 w-50" href="https://api.dsp-archiwebo22b-ji-rw-ah.fr/user/email/newsletter?newsletter=1&mode=csv" download="user_emails.csv">Télécharger les Emails</a>

            <a *ngIf="isLoggedAsAdmin" class="btn btn-primary mb-2 mx-2 w-50" (click)="synchronizeData()">Synchroniser avec Mailchimp</a>
    </div>
    <div *ngIf="synchronizationResult" class="col px-md-5">
        <div class="m-0 alert" [class.alert-success]="synchronizationResult.success" [class.alert-danger]="!synchronizationResult.success">
            {{ synchronizationResult.message }}
        </div>
    </div>
</div>

<div class="container table-responsive py-5">
    <h2>Utilisateurs inscrits</h2>
    <div class="d-flex w-100">
        <input type="text" [(ngModel)]="filterText" placeholder="Filter" (input)="onFilterChange()"
            class="form-control w-75 mb-2 me-auto" />
        <button *ngIf="isLoggedAsAdmin" type="button" class="btn btn-primary mb-2" [routerLink]="'/admin/dashboard/app-create-user'">
            <span>Créer un compte utilisateur</span>
        </button>
    </div>

    <hr>

    <table class="table table-striped" aria-label="table-users">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Adresse</th>
                <th scope="col">Adresse mail</th>
                <!-- <th scope="col">Gains</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname}}</td>
                <td>{{ user.birthDate }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.email }}</td>
                <td *ngIf="isLoggedAsAdmin">
                    <button type="button" class="btn btn-danger mb-2" (click)="deleteUser(user.id!)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- <div class="d-flex justify-content-between p-2">
        <pagination 
            [(ngModel)]="page" 
            [totalItems]="totalItems" 
            [itemsPerPage]="pageSize" 
            (pageChanged)="pageChanged($event)">
        </pagination>
    
        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshUsersFilters()">
            <option [ngValue]="4">4 items per page</option>
        </select>
    </div> -->

    <div class="d-flex justify-content-center mt-3">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" role="button" [class.disabled]="page === 1">
                    <a class="page-link" (click)="goToPage(1)" aria-label="First">
                        <span aria-hidden="true">Première page</span>
                    </a>
                </li>
                <li class="page-item" role="button" [class.disabled]="page === 1">
                    <a class="page-link" (click)="goToPage(page - 1)" aria-label="Previous">
                        <span aria-hidden="true">Précédent</span>
                    </a>
                </li>
                <li *ngFor="let pageNumber of visiblePages()" class="page-item" role="button"
                    [class.active]="pageNumber === page">
                    <a class="page-link" (click)="goToPage(pageNumber)">{{ pageNumber }}</a>
                </li>
                <li class="page-item" role="button" [class.disabled]="page === calculatePageCount()">
                    <a class="page-link" (click)="goToPage(page + 1)" aria-label="Next">
                        <span aria-hidden="true">Suivant</span>
                    </a>
                </li>
                <li class="page-item" role="button" [class.disabled]="page === calculatePageCount()">
                    <a class="page-link" (click)="goToPage(calculatePageCount())" aria-label="Last">
                        <span aria-hidden="true">Dernière page</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!--<div class="row" *ngFor="let ticket of allTickets">
    <p>{{ticket.id}}</p>
</div>-->