// .main-container {
//     nav {
//         background-color: darkcyan;
//         ul {
//             display: flex;
//             li {
//                 list-style: none;
//                 padding: 20px 40px;
//                 cursor: pointer;
//                 color: white;

//                 &:hover {
//                     background-color: #007070;
//                     transition: all 1s;
//                 }
//                 &:last-child {
//                     margin-left: auto;
//                 }
//             }
//         }
//     }
// }

div.top-bar {
    p {
        background: #212529;
        color: #fff;
        padding: 5px;
    }
}

nav.navbar {
    margin-top: -15px;

    a.logo-desktop>img {
        width: 4em;
    }
    a.logo-phone>img {
        width: 3em;
    }

    // Media queries
    // @media (max-width: 767px) {

    //     // For screens smaller than 768px
    //     a.logo-desktop {
    //         display: none;
    //     }

    // }
}

.custom-active {
    background-color: #3E5140;
    /* Changer la couleur de fond */
    color: #ffffff;
    /* Changer la couleur du texte */
    font-weight: bold;
    /* Changer le style de police */
    /* Ajoutez d'autres styles personnalisés si nécessaire */
    transition: all 1s;
}

.custom-active.home-link {
    background-color: #3E5140;
    color: #ffffff;
    font-weight: bold;
    transition: all 1s;
}


.logout {
    cursor: pointer;
}

.btn-outline-primary {
    color: #3E5140;
    border-color: #3E5140;
}

.btn-primary {
    background-color: #3E5140;
    border-color: #3E5140;
}

// .dropdown-menu-end {
//     //    margin: 0 auto;
//     left: -125%;
// }

// @media (max-width: 767px) {
//     .dropdown-menu-end {
//         left: auto;
//     }
// }