.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 12px;
    color: #007bff;
    /* Vous pouvez utiliser la couleur que vous préférez */
}