section {
  background-image:
    url("/assets/images/auth/auth_register.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .main-container {
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 0px 100px 15px rgba(0, 0, 0, 0.50);

    textarea {
      height: 200px;
    }

    .form-check-input {
      width: 30px;
      height: 30px;
    }

    a {
      color: blue;
      text-decoration: underline;
    }
  }

}

.toast {
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
  margin-top: 30px;
}

.show {
  opacity: 1;
}

.progress-bar {
  transition: width 5s ease-in-out; /* Ajustez la durée de l'animation selon vos besoins */
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px;
  color: #007bff;
  /* Vous pouvez utiliser la couleur que vous préférez */
}