<section class="d-flex flex-column align-items-center justify-content-center">
    <div class="container">
        <h1>ThéTipTop</h1>
        <p class="container-home-p">Lorem ipsum dolor sit amet consectetur. Non sodales in suscipit turpis tristique risus rhoncus proin sit. Aliquam vel et volutpat malesuada.</p>
        <a href ="#" target="_blank" class="btn btn-green fw-bold custom-bg-shadow py-3 px-4 px-sm-5 rounded-5">Participez aux jeux concours</a>
    </div>
    <div class="container-home-2">
        <p class="container-home-p">Lorem ipsum dolor sit amet consectetur. Non sodales in suscipit turpis tristique risus rhoncus proin sit. Aliquam vel et volutpat malesuada. Non sodales in suscipit turpis tristique risus rhoncus proin sit. Aliquam vel et volutpat malesuada.</p>
    </div>
</section>

