<section class="banniere d-flex flex-column align-items-center pt-0 pt-sm-0 vh-100">
    <div class="flex-grow-1"></div>
    <div class="col-12 text-center main-text">
        <h1 class="text-break">ThéTipTop</h1>
        <p class="container-home-p mx-auto my-0"><strong>Jeu concours à Nice</strong></p>
        <p class="container-home-p mx-auto my-0">A l'occasion de l'ouverture de la 10ème boutique à Nice.</p>
        <p class="container-home-p mx-auto">Du 15/12/2023 au 15/01/2024</p>
        <a [routerLink]="'/concours'" 
            class="btn btn-green fw-bold custom-bg-shadow py-3 px-4 px-sm-5 rounded-5 custom-shadow">Participez au jeu
            concours</a>
    </div>
    <div class="flex-grow-1"></div>
</section>
<section class="qualite d-flex flex-column align-items-center pt-3 text-center">
    <h2 class="text-uppercase">3 meilleurs qualité de nos thé</h2>
    <div class="flex-container">
        <img alt="image-qualite-superieure" class="img-fluid img-20" src="/assets/images/home/qualite-superieure-thetiptop.png" />
        <img alt="image-biologique" class="img-fluid img-20" src="/assets/images/home/biologique-thetiptop.png" />
        <img alt="image-producteurs-locaux" class="img-fluid img-20" src="/assets/images/home/producteurs-locaux-thetiptop.png" />
    </div>
</section>
<section class="background d-flex flex-column align-items-center">
    <div class="flex-grow-1"></div>
    <!-- Titre pour les écrans mobiles -->
    <h2 class="text-uppercase text-dark text-center d-md-none pb-2 pt-5">Thé de terroir</h2>
    <div>
        <!-- <div class="col-12"><img src="/assets/images/home/the-thetiptop.png" /></div> -->
        <img alt="image-plante-thetiptop" src="/assets/images/home/the-thetiptop.png" class="float-md-start pe-3" />
        <!-- Titre pour les écrans desktop et tablette -->
        <div class="p-rectangles p-4 p-md-2">

            <h2 class="text-uppercase text-dark d-none d-md-block">Thé de terroir</h2>

            <p>Thé Tiptop se distingue dans l'univers des thés par sa quête inlassable de qualité et d'excellence. Spécialiste dans la création de mélanges uniques et haut de gamme, nous proposons une gamme variée de thés bios allant des thés détox aux infusions traditionnelles, en passant par des thés blancs raffinés et des thés aux légumes originaux. Nous confectionnons soigneusement chaque produit à la main et ceci reflète notre engagement vers l'authenticité</p>
            <p>Ainsi, il existe une passion profonde pour la culture du thé et le respect de l'environnement. Nous nous efforçons de fournir des expériences gustatives exceptionnelles à ses clients. A l'occasion de l'ouverture de notre 10ème boutique à Nice, nous organisons un jeu concours pour vous faire partager notre passion !</p>
        </div>
    </div>
    <div class="flex-grow-1"></div>
</section>
<section class="d-flex flex-column align-items-center pt-4">
    <h2 class="text-uppercase text-center py-2">Ils nous font confiance</h2>
    <div class="flex-container">
        <div class="col" *ngFor="let image of images">
            <img [src]="image" class="img-fluid img-60" [alt]="'Image ' + (images.indexOf(image) + 1)">
        </div>
    </div>
</section>