section.banniere {
    background-image: url('/assets/images/home/home_thetiptop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .container-home-p {
        max-width: 330px;
    }

    .flex-grow-1 {
        flex: 1;
    }
}