img{
    width: 100%;
}

section.banniere {
    background-image: url('/assets/images/home/home_thetiptop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .container-home-p {
        max-width: 330px;
    }

    .flex-grow-1 {
        flex: 1;
    }
}

section.qualite{
    .img-fluid.img-20{
        width: 20%;
        margin: auto;
        display: block;
    }

    // Media queries
    @media (max-width: 767px) {  // For screens smaller than 768px
        div.flex-container{
            display: block;
            width: 100%;
        }
        .img-fluid.img-20{
            width: 100%;
            margin: auto;
            display: block;
        }
    }
}

section.background{
    background-image: url('/assets/images/home/home-background-thetiptop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .centered-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .text-uppercase.text-white{
        font-size: 55px;
    }
    .rectangle {
        background-image: url('/assets/images/home/rectangle-thetiptop.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 10rem;
        margin-left: -5rem;
        padding: 10px;
    }
    
    .rectangle-2 {
        background-image: url('/assets/images/home/rectangle-thetiptop.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 10rem;
        margin-left: -8.8rem;
        padding: 10px;
    }

    // Media queries
    @media (max-width: 767px) {  // For screens smaller than 768px
        .rectangle {
            margin-right: 0;
            margin-left: 0; 
        }

        .rectangle-2 {
            margin-right: 0;
            margin-left: 0; 
            margin-bottom: 10rem;
        }
    }
}

div.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    .img-fluid.img-60{
        width: 50%;
        margin: auto;
        display: block;
    }

    // Media queries
    @media (max-width: 767px) {  // For screens smaller than 768px
        .img-fluid.img-60{
            width: 100%;
            margin: auto;
            display: block;
        }
    }
}