img{
    width: 100%;
}

section.banniere {
    background-image: url('/assets/images/home/home_thetiptop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .container-home-p {
        max-width: 330px;
    }

    .flex-grow-1 {
        flex: 1;
    }
}

section.background{
    background-image: url('/assets/images/home/home-background-thetiptop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .centered-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .rectangle {
        background-image: url('/assets/images/home/rectangle-thetiptop.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 10rem;
        margin-left: -5rem;
        padding: 10px;
    }
    
    .rectangle-2 {
        background-image: url('/assets/images/home/rectangle-thetiptop.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 10rem;
        margin-left: -8.8rem;
        padding: 10px;
    }

    // Media queries
    @media (max-width: 767px) {  // For screens smaller than 768px
        .rectangle {
            margin-right: 0;
            margin-left: 0; 
        }

        .rectangle-2 {
            margin-right: 0;
            margin-left: 0; 
        }
    }
}

