<div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div *ngIf="isToastVisible" class="toast align-items-center show position-fixed top-0 start-50 translate-middle-x "
        [ngStyle]="{'background-color': submissionResult?.success ? '#20c997' : '#821313'}" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body text-center" [ngStyle]="{'color': submissionResult?.success ? 'black' : 'white'}" [innerHTML]="submissionResult!.message">
                {{ submissionResult!.message }}
            </div>
            <button type="button" class="btn-close me-2 m-auto" (click)="isToastVisible = false"
                aria-label="Close"></button>
        </div>
    </div>

    <div class="carousel-indicators">
        <!-- Les petits bouton rond d'indicateur du slide, elle doivent être égales aux nombre d'images dans le slide pour éviter un vilain bug -->
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-caption carousel-caption-overlay  rounded-5 d-md-block">
        <div class="centered-square p-0  h-100">

            <h1>Participez au jeu concours</h1>
            <p class="truncate-text">A l'occasion de l'ouverture de notre 10eme boutique à Nice. Nous organisons un jeu concours par tirage au sort pour promouvoir nos produits</p>

            <div *ngIf="!isLoggedIn">
                <button class="border-0 p-0 offlinePlay" [routerLink]="'/auth/login'">Jouer</button>
            </div>

            <ng-container *ngIf="isLoggedIn">
                <form *ngIf="isVerify" [formGroup]="verifyTicketForm" (ngSubmit)="getTicketById()" class="w-100">
                  <!-- Le contenu de votre formulaire -->
                  <div class="row row-cols-1 row-cols-md-1 g-4 pt-md-4">
                    <div class="col px-auto">
                      <!-- Afficher les erreurs pour le champ 'numTicket' -->
                      <div *ngIf="verifyTicketForm.get('numTicket')?.invalid && verifyTicketForm.get('numTicket')?.touched"
                           class="text-danger">
                        <div *ngIf="verifyTicketForm.get('numTicket')?.errors?.['required']" class="text-start">
                          Le numéro de ticket est requis.
                        </div>
                        <div *ngIf="verifyTicketForm.get('numTicket')?.errors?.['pattern']" class="text-start">
                          Le numéro de ticket doit être des chiffres.
                        </div>
                      </div>
                      <div>
                        <input class="border-0" type="text" formControlName="numTicket" placeholder="Votre nom">
                        <button class="border-0 p-0 logedForPlay" type="submit">Jouer</button>
                      </div>
                    </div>
                  </div>
                </form>
                
                <!-- Message si le compte n'est pas vérifié -->
                <div *ngIf="!isVerify" class="alert alert-warning" role="alert">
                  Votre compte n'est pas encore vérifié. Vous ne pouvez pas participer au jeu concours avant que votre compte soit vérifié.
                </div>
            </ng-container>

        </div>
    </div>
    <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="6000">
            <div class="carousel-overlay">
                <img src="/assets/images/concours/header/cafe0.png" class="d-block w-100 min-vh-100" alt="...">
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="6000">
            <div class="carousel-overlay">
                <img src="/assets/images/concours/header/cafe1.png" class="d-block w-100 min-vh-100" alt="...">

            </div>
        </div>
        <div class="carousel-item" data-bs-interval="6000">
            <div class="carousel-overlay">
                <img src="/assets/images/concours/header/cafe2.png" class="d-block w-100 min-vh-100" alt="...">
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="6000">
            <div class="carousel-overlay">
                <img src="/assets/images/concours/header/cafe3.png" class="d-block w-100 min-vh-100" alt="...">
            </div>
        </div>
    </div>

    <button class="carousel-control-prev d-none d-md-block" type="button" data-bs-target="#carouselExample"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
    </button>
    <button class="carousel-control-next d-none d-md-block" type="button" data-bs-target="#carouselExample"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
    </button>
</div>