h6 {
    font-size: 24px;
    font-weight: 500;
}

h5 {
    font-size: 48px;
    font-weight: 700;
}

.updateLink {
    cursor: pointer;
}

/* Ajoutez ceci dans votre fichier de style */
.toast {
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
    margin-top: 80px;
  }
  
  .show {
    opacity: 1;
  }
  