<section class="footer">
    <footer class="mt-4">
        <div class="flex-container">
            <p [routerLink]="''" class="footerLink">Home</p>
            <p [routerLink]="'/concours'" class="footerLink">Concours</p>
            <img [routerLink]="''" alt="logo-thetiptop-footer" class="img-fluid img-20 footerLink" src="/assets/images/footer/thetiptop-footer.png"/>
            <p [routerLink]="'/recompenses'" class="footerLink">Récompenses</p>
            <p [routerLink]="'/contact'" class="footerLink">Contact</p>
        </div>
    </footer>
</section>
<section class="post-footer">
    <div class="mentions d-block d-md-flex justify-content-center py-3">
        <div class=" d-block d-sm-flex justify-content-around text-center py-2">
            <p class="px-2 py-2 py-sm-0 mb-0">&#xa9; 2023 Thé TipTop</p>
            <p class="px-2 py-2 py-sm-0 mb-0 d-none d-md-block">|</p>
            <a [routerLink]="'/politique-de-confidentialite'" class="px-2 py-2 py-sm-0 mb-0">Politique de confidentialité</a>
            <p class="px-2 py-2 py-sm-0 mb-0 d-none d-md-block">|</p>
            <a [routerLink]="'/mentions-legales'" class="px-2 py-2 py-sm-0 mb-0">Mentions légales</a>

        </div>
        <div class=" d-block d-sm-flex justify-content-evenly text-center py-2">
            <p class="px-2 py-2 py-sm-0 mb-0 d-none d-md-block">|</p>
            <a [routerLink]="'/conditions-generales-utilisation'" class="px-2 py-2 py-sm-0 mb-0">CGU</a>
        </div>
    </div>
</section>

