<section class="footer">
    <footer class="mt-4">
        <div class="flex-container">
            <p>Home</p>
            <p>Concours</p>
            <img class="img-fluid img-20" src="/assets/images/footer/thetiptop-footer.png"/>
            <p>Récompenses</p>
            <p>Contact</p>
        </div>
    </footer>
</section>
<section class="post-footer">
    <div class="mentions d-block d-md-flex justify-content-center py-3">
        <div class=" d-block d-sm-flex justify-content-around text-center py-2">
            <p class="px-2 py-2 py-sm-0 mb-0">&#xa9; 2023 Thé TipTop</p>
            <p class="px-2 py-2 py-sm-0 mb-0 d-none d-md-block">|</p>
            <p class="px-2 py-2 py-sm-0 mb-0">Politique de confidentialité</p>
            <p class="px-2 py-2 py-sm-0 mb-0 d-none d-md-block">|</p>
            <p class="px-2 py-2 py-sm-0 mb-0">Mentions légales</p>

        </div>
        <div class=" d-block d-sm-flex justify-content-evenly text-center py-2">
            <p class="px-2 py-2 py-sm-0 mb-0 d-none d-md-block">|</p>
            <p class="px-2 py-2 py-sm-0 mb-0">CGV</p>
            <p class="px-2 py-2 py-sm-0 mb-0 d-none d-md-block">|</p>
            <p class="px-2 py-2 py-sm-0 mb-0">CGU</p>
        </div>
    </div>
</section>

