<section class="footer">
    <footer class="mt-4">
        <div class="flex-container">
            <p>Home</p>
            <p>Concours</p>
            <img class="img-fluid img-20" src="/assets/images/footer/thetiptop-footer.png"/>
            <p>Récompenses</p>
            <p>Contact</p>
        </div>
    </footer>
</section>
<section class="post-footer">
    <div class="mentions">
        <p class="mb-0">&#xa9; 2023 Thé TipTop</p>
        <p class="mb-0">|</p>
        <p class="mb-0">CGV</p>
        <p class="mb-0">|</p>
        <p class="mb-0">CGU</p>
        <p class="mb-0">|</p>
        <p class="mb-0">Politique de confidentialité</p>
        <p class="mb-0">|</p>
        <p class="mb-0">Mentions légales</p>
    </div>
</section>

