<section class="modalite d-flex flex-column align-items-center justify-content-center">
    <div class="container-fluid">
        <div class="col-md-12 d-flex flex-column align-items-center justify-content-center py-5 ">
            <div class="d-flex flex-column align-items-center justify-content-center text-center w-100 p-4 rounded-5 main-container">
                <h2 class="text-break">Les modalités du jeu concours</h2>
                <p>La participation est ouverte à tout client ayant un ticket de caisse ou une facture supérieure à 49€.</p>
                <p>Le jeu-concours se déroule sur une période de 30 jours (15/12/2023 - 15/01/2024), avec une limitation de 1 500 000 tickets distribués.</p>
                <p>Voici la répartition des gains comme suit :</p>
                <p>- 60% des tickets gagnent un infuseur à thé.</p>
                <p>- 20% des tickets gagnent une boite de 100g de thé détox ou d’infusion.</p>
                <p>- 10% des tickets gagnent une boite de 100g de thé signature.</p>
                <p>- 6% des tickets gagnent un coffret découverte d’une valeur de 39€.</p>
                <p>- 4% des tickets gagnent un coffret découverte d’une valeur de 69€.</p>
                <p>Pour pouvoir participez, saissisez votre numéro de ticket sur notre site internet. Une fois fait, vous pouvez réclamer votre lot à notre magasin à Nice auprès d'un employé pendant la période du jeu et les 30 jours suivant sa clôture.</p>
                <p>A la fin du jeu-concours, un tirage au sort aura lieu pour gagner 1 AN de thé d'une valeur de 360€ ! Toutefois, le nombre de participations pour une même personne n'augmente pas les chances de gagner.</p>
                <p>Le règlement et les modalités du jeu-conours ont été déposés auprès de Maître Arnaud Rick, huissier de justice, et le tirage au sort final sera effectué sous son contrôle.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-column align-items-center justify-content-center">
    <div class="container-fluid">

        <div class="col-md-12 d-flex flex-column align-items-center justify-content-center py-5 ">
            <div
                class="d-flex flex-column align-items-center justify-content-center text-center w-100 p-4 rounded-5 main-container">

                <h2 class="text-break">Les gains detaillé</h2>

                <!-- <div  id="horizontal-scroll-anchor" class="scrolling-container py-4" [ngStyle]="{ overflowX: enableHorizontalScroll ? 'auto' : 'hidden' }"> Ajout d'un conteneur pour le défilement horizontal -->
                <div class="scrolling-container py-4">
                    <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 g-lg-4 g-xl-5"> -->
                    <div class="scrolling-content">
                        <div class="row flex-nowrap g-3 g-lg-4 g-xl-5"> <!-- Suppression de row-cols-* -->
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/assets/images/concours/header/cafe0.png" class="d-block w-100" alt="image-thé-carousel-1">
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer. This
                                            content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/assets/images/concours/header/cafe1.png" class="d-block w-100" alt="image-thé-carousel-2">
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer. This
                                            content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/assets/images/concours/header/cafe2.png" class="d-block w-100" alt="image-thé-carousel-3">
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer. This
                                            content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/assets/images/concours/header/cafe3.png" class="d-block w-100" alt="image-thé-carousel-4">
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer. This
                                            content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/assets/images/concours/header/cafe0.png" class="d-block w-100" alt="image-thé-carousel-5">
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer. This
                                            content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/assets/images/concours/header/cafe1.png" class="d-block w-100" alt="image-thé-carousel-6">
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer. This
                                            content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/assets/images/concours/header/cafe2.png" class="d-block w-100" alt="image-thé-carousel-7">
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer. This
                                            content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/assets/images/concours/header/cafe3.png" class="d-block w-100" alt="image-thé-carousel-8">
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer. This
                                            content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="/assets/images/concours/header/cafe0.png" class="d-block w-100" alt="image-thé-carousel-9">
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer. This
                                            content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>