<div class="container-fluid px-2 p-md-5 border-bottom border-1">
    <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 g-lg-4 g-xl-5"> -->
    <h2 class="text-center py-3 py-md-5">MES GAINS</h2>
    <div class="row row-cols-1 row-cols-lg-3 g-3"> <!-- Suppression de row-cols-* -->
        <div class="col" *ngFor="let mybatch of batch">
            <div class="card border-0 d-flex align-items-center text-center" *ngIf="mybatch">
                <img src="/assets/images/concours/header/cafe0.png" class="w-50" alt="récompense-acquis-thé-tiptop-1">
                <div class="card-body w-100 d-flex flex-column align-items-center">
                    <h3>{{mybatch.type_lot}}</h3>
                    <p class="card-text">{{mybatch!.description}}</p>
                </div>
            </div>
        </div>
        <!-- <div class="col">
            <div class="card border-0 d-flex align-items-center text-center">
                <img src="/assets/images/concours/header/cafe1.png" class="w-50" alt="récompense-acquis-thé-tiptop-2">
                <div class="card-body w-100 d-flex flex-column align-items-center">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur. Id congue arcu elementum eu aliquet
                        accumsan sed sagittis vestibulum. Commodo eget imperdiet lectus egestas quisque. Magna quisque
                        mollis rutrum nulla eget quam amet in nec. Eget diam mauris at ac gravida feugiat egestas
                        fermentum. Ultricies tempor ullamcorper gravida ultricies.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 d-flex align-items-center text-center">
                <img src="/assets/images/concours/header/cafe2.png" class="w-50" alt="récompense-acquis-thé-tiptop-3">
                <div class="card-body w-100 d-flex flex-column align-items-center">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur. Id congue arcu elementum eu aliquet
                        accumsan sed sagittis vestibulum. Commodo eget imperdiet lectus egestas quisque. Magna quisque
                        mollis rutrum nulla eget quam amet in nec. Eget diam mauris at ac gravida feugiat egestas
                        fermentum. Ultricies tempor ullamcorper gravida ultricies.</p>
                </div>
            </div>
        </div> -->


    </div>

</div>